<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html  xmlns:th="https://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->


<head>
    <div th:replace="fragments/head :: head(olscss=true)"></div>
    <title id="pageTitle" th:inline="text">About [[${title}]] &lt; [[${org}]]</title>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whole project)
    <meta name="keywords" content="biosamples, europe, EBI" />
    <!- - Describe what this page is about - ->
    <meta name="description" content="EMBL-EBI" />
    <meta name="ebi:last-review" content="2016-12-20" />
    <!- - The last time the content was reviewed - ->
    <meta name="ebi:expiry" content="2017-12-20" />
    <!- - When this content is no longer relevant -->
</head>


<body>
<th:block th:include="fragments/header :: header"></th:block>

<section id="main-content-area" role="main">
    <div class="row">
        <h2>Privacy Statement</h2>
        <p>
        Data protection is of high priority for the Technische Informationsbibliothek (TIB). As a general rule, the use of TIB&#700;s services does not require the provision of any personal data. However, the processing of personal data may be required where a data subject wants to use special services via the TIB&#700;s web pages. Where the processing of personal data is required and where there is no legal basis for such processing, we shall obtain the data subject&#700;s consent.
         <br />
		The processing of personal data, such as for example the data subject&#700;s name, address, email address, or telephone number shall always be carried out in accordance with the General Data Protection Regulation (GDPR) and the state and institution-specific data protection rules and regulations applicable to the TIB. This privacy statement serves to inform the public about the nature, scope and purpose of the personal data we collect, use and process, as well as of the rights data subjects are entitled to.
		 <br />
		The terms used in this privacy statement are to be understood within the meaning of the European General Data Protection Regulation (GDPR).
		 <br />
		</p>
        <h3>Name and address of the controller</h3>

                <p>
                    
                    The controller under data protection law shall be:
					 <br />
					Technische Informationsbibliothek (TIB)
					 <br />
					Welfengarten 1 B
					 <br />
					30167 Hannover
					 <br />
					Germany
					 <br />
					Phone: +49 511 762-8989
					 <br />
					Email: <a href="mailto:information@tib.eu">information@tib.eu</a>
					 <br />
					Website: <a href="www.tib.eu">www.tib.eu</a>
					 <br />
                     
                </p>


        		<h3>Name and address of the data protection officer</h3>

                <p>
                    
				The data protection officer of the controller shall be:
				 <br />
				Elke Brehm
				 <br />
				Phone: +49 511 762-8138
				 <br />
				Email: <a href="mailto:datenschutz@tib.eu">datenschutz@tib.eu</a>
				 <br />
                     
                </p>

                <h4>Postal Address:</h4>

                <p> 
                
                Technische Informationsbibliothek (TIB)
                 <br />
				data protection officer
				 <br />
				Welfengarten 1 B
				 <br />
				30167 Hannover
				 <br />
				Germany
                 <br />
                </p>


				<h4>Visiting Address:</h4>

                <p>
                
                TIB Conti-Campus
                 <br />
				K&ouml;nigsworther Platz 1 B
				 <br />
				30167 Hannover
                 <br />
                </p>
                
               <p>
               
               Any data subject may contact our data protection officer directly regarding any and all questions and suggestions regarding data protection at any time.
                <br />
               
               </p>
                
                <h3>Cookies</h3>
                
                 <p>
                 
                 The TIB websites use cookies. Cookies are text files that are placed and stored on a computer system via an Internet browser and serve to render the offer of the TIB more user-friendly, effective and secure.
				 <br />
				 Most of the cookies used are so-called <q>session cookies</q>, which are automatically deleted at the end of the visit. Other cookies remain stored on the user&#700;s terminal device until he or she deletes them. These cookies enable the TIB to recognise the user&#700;s browser on his or her next visit.
				 <br />
				Users can prevent and permanently object to the setting of cookies by TIB websites at any time by choosing the corresponding settings of the Internet browser used. Furthermore, cookies already set can be deleted at any time with the Internet browser or by other software programs. This is possible in all common Internet browsers. If the data subject deactivates the setting of cookies in the Internet browser used, the TIB web pages may not function properly.
                 <br /> 
                 </p>
    </div>
</section>


<th:block th:include="fragments/footer :: footer"></th:block>

<!-- <script type="text/javascript" src="/js/oxo.js" th:src="@{/js/oxo.js}"></script> -->


<!-- All JS that is just used on this page should go here, I suppose-->
<script>
    $(document).ready(function() {
    });
</script>

</body>
</html>